/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  opacity: 0.9;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.heroBanner h1 img {
  flex-shrink: 1;
  max-width: 200px;
}

@media screen and (max-width: 500px) {
  .heroBanner h1 img {
    max-width: 150px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
