/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .heroBanner h1 img {
    max-width: 150px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heroSubtitle {
  font-size: 1.2rem;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;

  b {
    font-weight: 500;
  }
}

.heroFootnote {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-style: italic;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}

.column {
  width: 500px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
