<!DOCTYPE html>
<html>
    <head>
        <title>Wagtail Shell Frame</title>
    </head>
    <body>
        <script>
            window.addEventListener("message", (event) => {
                const frame = event.data.frame;

                if (frame.view == 'iframe') {
                    document.open();
                    document.write(frame.context.html);
                    document.close();

                    // JavaScript API
                    window.openModal = (url) => {
                        parent.postMessage({
                            id: frame.id,
                            type: 'open-modal',
                            url,
                        }, "*");
                    };

                    const onLoad = () => {
                        if (event.data.mode === 'browser') {
                            // Insert a <base target="_parent"> tag into the <head> of the iframe
                            // This makes it open all links in the main window
                            const baseElement = document.createElement('base');
                            baseElement.target = '_parent';
                            document.head.appendChild(baseElement);
                        } else {
                            // Insert a .wagtailshell-modal class to the <body> element
                            document.body.classList.add('wagtailshell-modal');
                        }

                        // Ajaxify links
                        const processLink = (link) => {
                            // Don't ajaxify download links
                            if (link.hasAttribute('download')) {
                                return
                            }

                            // Get href
                            const href = link.getAttribute('href');
                            if (!href || href.startsWith('#')) {
                                return;
                            }

                            link.addEventListener('click', (e) => {
                                e.preventDefault();
                                let url;

                                if (href.startsWith('?')) {
                                    url = frame.url + href;
                                } else {
                                    url = href;
                                }

                                if (link.target === '_modal') {
                                    window.openModal(url);
                                } else {
                                    parent.postMessage({
                                        id: frame.id,
                                        type: 'navigate',
                                        url,
                                    }, "*");
                                }
                            });
                        };

                        // Ajaxify forms
                        // Note: Some forms are submitted through ajax anyway, we don't care about those
                        // We only want to ajaxify forms that will otherwise reload the page
                        const processForm = (form) => {
                            // Get action URL
                            // Note: Don't use form.action here as some forms have an action field!
                            // Note: If action is not specified, fall back to the current pathname with any existing GET parameters removed
                            const action = form.getAttribute('action') || frame.url.split('?')[0];

                            form.addEventListener('submit', (e) => {
                                e.preventDefault();

                                const method = form.getAttribute('method');
                                const isPost = method && method.toLowerCase() == 'post';
                                const data = new FormData(form);

                                // Add value of clicked submit button to form data
                                if (e.submitter.value) {
                                    data.set(e.submitter.name, e.submitter.value);
                                }

                                parent.postMessage({
                                    id: frame.id,
                                    type: 'submit-form',
                                    action,
                                    method: isPost ? 'post' : 'get',
                                    data,
                                }, "*");
                            });
                        }

                        // Set up elements that are in the initial response and set them up
                        Array.from(document.links).forEach(processLink);
                        Array.from(document.forms).forEach(processForm);

                        // Create an observer to listen for new links and forms
                        const observer = new MutationObserver((mutationsList, observer) => {
                            // Use traditional 'for loops' for IE 11
                            mutationsList.forEach(mutation => {
                                if (mutation.type === 'childList') {
                                    mutation.addedNodes.forEach(node => {
                                        if (node instanceof HTMLElement) {
                                            node.querySelectorAll('a[href]').forEach(processLink);
                                            node.querySelectorAll('form').forEach(processForm);
                                        }
                                    })
                                }
                            })
                        });

                        // Start observing the target node for configured mutations
                        observer.observe(document.body, { attributes: false, childList: true, subtree: true });

                        parent.postMessage({
                            id: frame.id,
                            type: 'load',
                            title: document.title,
                        }, "*");
                    };

                    // Chrome/Edge load the document immedately and doesn't bother to fire DOMContentLoaded most of the time
                    // Firefox never loads the document immediately and always fires DOMContentLoaded
                    if (document.body) {
                        onLoad();
                    } else {
                        document.addEventListener('DOMContentLoaded', onLoad);
                    }
                }
            }, false);
        </script>
    </body>
</html>
