.codeexample {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
}

.steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

.steps pre {
  font-size: 0.7rem;
  line-height: 1.2rem;
}
