{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailadmin_tags wagtailcore_tags i18n wagtailshell_tags %}

{% block extra_css %}
    {{ block.super }}

    {# if we're going to render the content in an iframe, remove left padding #}
    {% shell_iframe_safe as iframe_safe %}
    {% if iframe_safe %}
        <style>
            body.explorer-open .wrapper {
                transform: none;
            }

            .wrapper, body.nav-open .wrapper {
                padding-left: 0;
            }
        </style>
    {% endif %}
{% endblock %}

{% block furniture %}
    {% shell_template_rendered %}

    <div id="wagtailshell-root">
        {# if it's not safe to render this view in an iframe, render the legacy menu in the response #}
        {% shell_iframe_safe as iframe_safe %}
        {% if not iframe_safe %}
            {% include 'wagtailshell/sidebar.html' %}
        {% endif %}

        <main class="content-wrapper" role="main" id="main">
            <div class="content">
                {# Always show messages div so it can be appended to by JS #}
                <div class="messages">
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="{% message_tags message %}">
                                {% if message.level_tag == "error" %}
                                    {# There is no error icon, use warning icon instead #}
                                    {% icon name="warning" class_name="messages-icon" %}
                                {% elif message.extra_tags == "lock" %}
                                    {% icon name="lock" class_name="messages-icon" %}
                                {% elif message.extra_tags == "unlock" %}
                                    {% icon name="lock-open" class_name="messages-icon" %}
                                {% else %}
                                    {% icon name=message.level_tag class_name="messages-icon" %}
                                {% endif %}
                                {{ message|safe }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div id="nav-toggle" class="nav-toggle icon text-replace">{% trans "Menu" %}</div>

                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
